.post-content h4 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;
    margin-top: 30px;
    margin-bottom: 15px;
    color: var(--text-color);
}

.post-content ul {
    margin-bottom: 20px;
    padding-left: 20px;
}

.post-content li {
    margin-bottom: 10px;
}

.post-content img {
    max-width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}
